<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.BIND_APPWIDGET" />
    <uses-permission android:name="android.permission.QUERY_ALL_PACKAGES" />
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <application
        android:theme="@style/AppTheme"
        android:label="MikuCarLauncher"
        android:icon="@mipmap/ic_launcher"
        android:resizeableActivity="true"
        android:usesCleartextTraffic="true">

        <activity
            android:name=".Live2DAdjustActivity"
            android:screenOrientation="landscape"
            android:exported="false" />
        <activity
            android:name=".Live2DSettingsActivity"
            android:screenOrientation="landscape"
            android:exported="false" />
        <activity
            android:name=".IconPackIconPickerActivity"
            android:screenOrientation="landscape"
            android:exported="false" />
        <activity
            android:name=".IconPackSettingsActivity"
            android:screenOrientation="landscape"
            android:exported="false" />
        <activity
            android:name=".CustomIconActivity"
            android:screenOrientation="landscape"
            android:exported="false" />
        <activity
            android:name=".NightModeSettingsActivity"
            android:screenOrientation="landscape"
            android:exported="false" />
        <activity
            android:name=".WeatherSettingsActivity"
            android:screenOrientation="landscape"
            android:exported="false" />
        <activity
            android:name=".TurnSignalSettingsActivity"
            android:screenOrientation="landscape"
            android:exported="false" />
        <activity
            android:name=".VehicleHookSettingsActivity"
            android:screenOrientation="landscape"
            android:exported="false" />
        <activity
            android:name=".HudBroadcastSettingsActivity"
            android:screenOrientation="landscape"
            android:exported="false" />
        <activity
            android:name=".AppListActivity"
            android:screenOrientation="landscape"
            android:exported="false" />
        <activity
            android:name=".MineActivity"
            android:screenOrientation="landscape"
            android:exported="false" />
        <activity
            android:name=".AmapFloatingCardSettingsActivity"
            android:screenOrientation="landscape"
            android:exported="false" />
        <activity
            android:name=".RearAiVisionSettingsActivity"
            android:screenOrientation="landscape"
            android:exported="false" />
        <activity
            android:name=".MikuTextDisplayNodeSettingsActivity"
            android:screenOrientation="landscape"
            android:exported="false" />
        <activity
            android:name=".DesktopSettingsActivity"
            android:screenOrientation="landscape"
            android:exported="false" />
        <activity
            android:name=".AppPickerActivity"
            android:screenOrientation="landscape"
            android:exported="false" />
        <activity
            android:name=".HiddenAppsActivity"
            android:screenOrientation="landscape"
            android:exported="false" />
        <activity
            android:name=".AppDrawerSettingsActivity"
            android:screenOrientation="landscape"
            android:exported="false" />
        <activity
            android:name=".WidgetPickerActivity"
            android:screenOrientation="landscape"
            android:exported="false" />
        <activity
            android:name=".CommonAppsSettingsActivity"
            android:screenOrientation="landscape"
            android:exported="false" />

        <activity
            android:name=".MainActivity"
            android:screenOrientation="landscape"
            android:launchMode="singleTask"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.HOME" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    

        <receiver
            android:name=".PackageChangeReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED" />
                <action android:name="android.intent.action.PACKAGE_REMOVED" />
                <action android:name="android.intent.action.PACKAGE_CHANGED" />
                <action android:name="android.intent.action.PACKAGE_REPLACED" />
                <data android:scheme="package" />
            </intent-filter>
        </receiver>

        <service
            android:name=".MusicNotificationListenerService"
            android:label="MikuCarLauncher 音乐信息读取"
            android:permission="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE"
            android:exported="true">
            <intent-filter>
                <action android:name="android.service.notification.NotificationListenerService" />
            </intent-filter>
        </service>

    </application>
</manifest>
